<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">

  <ion-segment [value]="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="app">
      <ion-label>The App</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fish">
      <ion-label>The Fish</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="segment === 'app'">
    <p>App Info Image</p>
    <p>What is this app</p>
    <p>Inspiration</p>
    <p>Cool Features</p>
  </div>


  <div *ngIf="segment === 'fish'">
    <p>Fish Info Image</p>
    <p>History of Salmon</p>
    <p>About the fish</p>
    <p>Basic Recipe & Ingredients</p>
  </div>

  <div style="text-align: center; display: grid; grid-template-columns: 1fr 1fr; width: 90%; max-width: 700px; margin: 2em auto;">
    <ion-card routerLink="/privacy">
      <ion-card-content>Privacy Policy</ion-card-content>
    </ion-card>
    <ion-card routerLink="/terms">
      <ion-card-content>Terms & Conditions</ion-card-content>
    </ion-card>
  </div>

</ion-content>
