<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">

  <ion-segment [value]="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="app">
      <ion-label>The App</ion-label>
    </ion-segment-button>
    <ion-segment-button value="fish">
      <ion-label>The Fish</ion-label>
    </ion-segment-button>
  </ion-segment>

  <router-outlet></router-outlet>

</ion-content>
