<ion-header>
  <ion-toolbar>
    <ion-title>New Post</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="submit()"
        [disabled]="!postForm.valid || !images.length || images.length >= 5"
        color="primary">
        Submit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <label for="image-upload">
    <ion-fab-button [disabled]="images?.length >= 5" style="margin: 2em auto">
      <ion-icon name="add" style="padding: 18px; transform: scale(1.5);"></ion-icon>
    </ion-fab-button>
  </label>
  <input
    *ngIf="!(images?.length >= 5)"
    id="image-upload"  
    type="file"
    accept="image/*"
    style="display: none"
    (change)="addImage($event)" >

  <p style="text-align: center;"><i>*Add up to 5 images</i></p>

  <ion-list *ngIf="images?.length">
    <ion-reorder-group (ionItemReorder)="onReorder($event)" disabled="false">
      <ion-item *ngFor="let img of images; index as i" lines="none">
        <img height="100" [src]="img.preview" alt="Image Preview">
        <ion-icon style="margin-left: 8px" color="danger" name="trash" (click)="images.splice(i, 1)"></ion-icon>
        <ion-reorder *ngIf="images.length > 1" slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

  <br><br>

  <form [formGroup]="postForm">
    <ion-card>
      <ion-card-content style="padding: 10px">
        <ion-item lines="none">
          <ion-label position="floating">Title</ion-label>
          <ion-input formControlName="title" maxLength="32" required autocomplete="off"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content style="padding: 10px">
        <ion-item lines="none">
          <ion-label position="floating">Location (optional)</ion-label>
          <ion-input formControlName="location" maxLength="32" autocomplete="off"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content style="padding: 10px">
        <ion-item lines="none">
          <ion-label position="floating">Description (optional)</ion-label>
          <ion-textarea formControlName="description" maxLength="240" rows="5" autocomplete="off"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>

</ion-content>
