<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/username">
        <ion-icon slot="icon-only" name="eye"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p style="text-align: center;">+ Profile Picture +</p>
    </ion-card-content>
  </ion-card>

  <form [formGroup]="userForm">
    <ion-card>
      <ion-card-content style="padding: 10px">
        <ion-item lines="none">
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username" maxLength="24" required autocomplete="off"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content style="padding: 10px">
        <ion-item lines="none">
          <ion-label position="floating">Location</ion-label>
          <ion-input formControlName="location" maxLength="32" autocomplete="off"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content style="padding: 10px">
        <ion-item lines="none">
          <ion-label position="floating">Bio</ion-label>
          <ion-textarea formControlName="bio" maxLength="360" rows="8" autocomplete="off"></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>Social Media Links</ion-card-header>
      <ion-card-content style="padding: 10px">
        <ion-item lines="none">
          <ion-label position="floating">Instagram</ion-label>
          <ion-input formControlName="instagramUrl" maxLength="32" autocomplete="off"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Twitter</ion-label>
          <ion-input formControlName="twitterUrl" maxLength="32" autocomplete="off"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Facebook</ion-label>
          <ion-input formControlName="facebookUrl" maxLength="32" autocomplete="off"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="floating">Other Link</ion-label>
          <ion-input formControlName="otherLinkUrl" maxLength="32" autocomplete="off"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>

  <br><br>

</ion-content>
