<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons *ngIf="auth.uid" slot="end">
      <ion-button color="primary" [routerLink]="'/profile/' + auth.uid">
        <ion-icon slot="icon-only" name="eye"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="auth.user$ | async as user">

  <div style="padding: 1em; text-align: center; font-size: 0.75em;">
    <ion-text color="medium">
      <p>Thanks {{ user.username}}, for being a member since {{ user.createdAt.toDate() | date:'shortDate' }}</p>
      <p>Signed in with {{ user.authProvider.split('.')[0] | titlecase }} ({{ user.email }})</p>
    </ion-text>
  </div>

  <ion-card>
    <ion-card-content>
      <p style="text-align: center;">+ Profile Picture +</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content style="padding: 10px">
      <ion-item lines="none">
        <ion-label position="floating">Username</ion-label>
        <ion-input debounce="1000" maxLength="24" required autocomplete="off" (ionChange)="save(user.uid, 'username', $event.target.value)"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content style="padding: 10px">
      <ion-item lines="none">
        <ion-label position="floating">City, State, Country...</ion-label>
        <ion-input debounce="1000" maxLength="32" autocomplete="off" (ionChange)="save(user.uid, 'location', $event.target.value)"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content style="padding: 10px">
      <ion-item lines="none">
        <ion-label position="floating">Bio</ion-label>
        <ion-textarea debounce="1000" maxLength="360" rows="8" autocomplete="off" (ionChange)="save(user.uid, 'bio', $event.target.value)"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Social Media Links</ion-card-header>
    <ion-card-content style="padding: 10px">
      <ion-item lines="none">
        <ion-label position="floating">Instagram</ion-label>
        <ion-input debounce="1000" maxLength="32" autocomplete="off" (ionChange)="save(user.uid, 'instagramUrl', $event.target.value)"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Twitter</ion-label>
        <ion-input debounce="1000" maxLength="32" autocomplete="off" (ionChange)="save(user.uid, 'twitterUrl', $event.target.value)"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Facebook</ion-label>
        <ion-input debounce="1000" maxLength="32" autocomplete="off" (ionChange)="save(user.uid, 'facebookUrl', $event.target.value)"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating">Website</ion-label>
        <ion-input debounce="1000" maxLength="32" autocomplete="off" (ionChange)="save(user.uid, 'websiteUrl', $event.target.value)"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <br><br>

</ion-content>
