<ion-content>
  <img src="../../assets/salmon-outline.jpg" alt="About Image">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This is where a description of the app will be as well as the inspiration for making this.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam possimus doloremque facere corporis.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Info on new & upcoming features, compliance, and contact details.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam possimus doloremque facere corporis.</p>
    </ion-card-content>
  </ion-card>

  <div style="text-align: center; display: grid; grid-template-columns: 1fr 1fr; justify-items: center; width: 90%; max-width: 700px; margin: 100px auto 200px;">
    <ion-card routerLink="/privacy" style="max-width: 116px">
      <ion-card-content>Privacy Policy</ion-card-content>
    </ion-card>
    <ion-card routerLink="/terms" style="max-width: 116px">
      <ion-card-content>Terms & Conditions</ion-card-content>
    </ion-card>
  </div>
</ion-content>