<ion-content>
  <img src="../../assets/salmon-fish.svg" alt="About Image">

  <ion-card>
    <ion-card-header>
      <ion-card-title>What is Salmon?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Salmon is both caught wild and farmed (and maybe even domesticated by some).</p>
      <p>Atlantic Salmon are typically farmed, and Pacific Salmon are usually caught in the wild.</p>
 
      <p>More Info...</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>The Life of Wild Salmon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>Early Years</h1>
      <p>Salmon hatch from eggs at the bottom of a stream or lake.</p>
      <p>They spend years 0-4 in freshwater eating insects and crustaceans, and avoid predators like birds and larger fish.</p>
      <h1>A Young Stud</h1>
      <p>After 4 years or so, the salmon swim downstream to the deep blue sea.</p>
      <p>Their scales change to a shiny silver color, teeth grow in, and the Salmon grow in length.</p>
      <p>For the next 1-7 years they start eating plankton, squid, and other fish and bulk up a ton.</p>
      <h1>The Epic Migration</h1>
      <p>Now the Salmon has found its calling.</p>
      <p>These big, strong Salmon begin the journey upstream, all the way back to their birthplace in freshwater.</p>
      <p>They stop at nothing to make it home. Not only swimming against the current, but literally flinging themselves through waterfalls!</p>
      <p>Most Salmon do not eat anything during this journey, and it shows - the ones that make it all the way home look near-dead.</p>
      <p>The Females dig little depressions in the lake (redds) and lay eggs, to which the Males proceed to fertilize before both fish parents die shortly after.</p>
      <h1>Rest In Peace</h1>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Basic Recipe</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Start with raw, thawed, & cooled fish</p>
      <p>Cut into cooking-size pieces</p>
      <p>Cut 3-4 slits halfway down through the top of the salmon</p>
      <p>Season top with salt, olive oil</p>
      <p>Season bottom skin with pepper, olive oil</p>
      <p>Put frying oil in pan and get it hot</p>
      <p>Start salmon skin-down and fry until 3/4 of the side is light pink</p>
      <p>Flip & cook the top for a few minutes</p>
      <p>Get the sides cooked & crispy and add any extra seasons like basil</p>
      <p>EAT</p>
    </ion-card-content>
  </ion-card>
  
  <div style="text-align: center; margin: 100px auto 200px;">
    <ion-button routerLink="/">
      <ion-icon slot="start" style="transform: scale(1.25); margin: 0 16px 0 4px;" src="../../assets/salmon-icon.svg"></ion-icon>
      See some Salmon
    </ion-button>
    
    <ion-button routerLink="/">
      <ion-icon slot="start" style="margin: 0 16px 0 4px;" name="restaurant"></ion-icon>
      Post some Salmon
    </ion-button>
  </div>
</ion-content>
