<ion-content>
  <img src="../../assets/salmon-fish.svg" alt="About Image">

  <ion-card>
    <ion-card-header>
      <ion-card-title>What is Salmon?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This is where a description of the app will be as well as the inspiration for making this.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam possimus doloremque facere corporis.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>A Brief History</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descriptions of features like dark mode and speed enhancements.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam possimus doloremque facere corporis.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Basic Recipe</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descriptions of features like dark mode and speed enhancements.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam possimus doloremque facere corporis.</p>
    </ion-card-content>
  </ion-card>
  
  <div style="text-align: center; margin-top: 2em; margin-bottom: 4em;">
    <ion-button routerLink="/">
      <ion-icon slot="start" style="transform: scale(1.25); margin: 0 16px 0 4px;" src="../../assets/salmon-icon.svg"></ion-icon>
      See some Salmon!
    </ion-button>
    
    <ion-button routerLink="/">
      <ion-icon slot="start" style="margin: 0 16px 0 4px;" name="restaurant"></ion-icon>
      Post some Salmon!
    </ion-button>
  </div>
</ion-content>
