<ion-content>
  <img src="../../assets/salmon-fish.svg" alt="About Image">

  <ion-card>
    <ion-card-header>
      <ion-card-title>What is Salmon?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Information about the fish, nutrition, how its caught, etc...</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam possimus doloremque facere corporis.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>A Brief History</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The early days of salmon, how they have evolved, how they live now</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aperiam possimus doloremque facere corporis.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Basic Recipe</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Start with raw, thawed, & cooled fish</p>
      <p>Cut into cooking-size pieces</p>
      <p>Cut 3-4 slits halfway down through the top of the salmon</p>
      <p>Season top with salt, olive oil</p>
      <p>Season bottom skin with pepper, olive oil</p>
      <p>Put frying oil in pan and get it hot</p>
      <p>Start salmon skin-down and fry until 3/4 of the side is light pink</p>
      <p>Flip & cook the top for a few minutes</p>
      <p>Get the sides cooked & crispy and add any extra seasons like basil</p>
      <p>EAT</p>
    </ion-card-content>
  </ion-card>
  
  <div style="text-align: center; margin: 100px auto 200px;">
    <ion-button routerLink="/">
      <ion-icon slot="start" style="transform: scale(1.25); margin: 0 16px 0 4px;" src="../../assets/salmon-icon.svg"></ion-icon>
      See some Salmon
    </ion-button>
    
    <ion-button routerLink="/">
      <ion-icon slot="start" style="margin: 0 16px 0 4px;" name="restaurant"></ion-icon>
      Post some Salmon
    </ion-button>
  </div>
</ion-content>
