.login-btn-container {
    width: 100%;
    max-width: 250px;
    min-height: 16vh;
    margin: 3em auto 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 1px;
}

.login-banner-image {
    width: 100%;
    height: 25vh;
    background-image: url('../../assets/salmon-on-ice.jpg');
    background-size: cover;
    background-position: center;
}
