<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="favorites">
      <ion-icon name="heart"></ion-icon>
      <!-- <ion-label>Favorites</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon style="transform: scale(1.5);" src="../../assets/salmon-icon.svg"></ion-icon>
      <!-- <ion-label>Salmon</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="new">
      <ion-icon style="transform: rotate(-45deg);" name="restaurant"></ion-icon>
      <!-- <ion-label>New</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
