<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Salmon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Salmon</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>Post</ion-card-content>
  </ion-card>
</ion-content>
