<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="username" [routerLink]="'/profile/' + userId">{{ username }}'s Salmon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="post-list">
    <ion-card *ngFor="let post of posts$ | async" [routerLink]="'/post/' + post.id">
      <div class="post-img" [ngStyle]="{ 'background-image': 'url(' + post.images[0].url + ')' }"></div>
      <ion-card-content>{{ post.title }}</ion-card-content>
    </ion-card>
  </div>

</ion-content>
