<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ post && post.title ? post.title : 'Salmon' }}</ion-title>
    <ion-buttons *ngIf="editable" slot="end">
      <ion-button color="primary" (click)="showActionSheet()">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="post">

  <ion-card>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let imageUrl of post.images" style="display: flex; flex-direction: column; max-height: 90vh;">
        <img [src]="imageUrl" style="margin-bottom: 2em"/>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <div style="padding: 1em;">
    <ion-text color="dark">
      <h1>{{ post.title }}</h1>
    </ion-text>
    <ion-text color="medium">
      <p style="display: flex; justify-content: space-between;">
        <!-- <span routerLink="'/profile/' + post.userId">Username</span> -->
        <span>{{ post.createdAt.toDate() | date:'shortDate' }} {{ post.location ? post.location : '' }}</span>
      </p>
    </ion-text>
  </div>

  <ion-card *ngIf="post.description">
    <ion-card-content>
      <p>{{ post.description }}</p>
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/" style="margin: 2em auto; display: block; max-width: 250px;">
    <ion-icon slot="start" style="transform: scale(1.25); margin-right: 16px;" src="../../assets/salmon-icon.svg"></ion-icon>
    View All Salmon
  </ion-button>

</ion-content>
