<ion-header>
  <ion-toolbar>
    <ion-title>Username</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>User Info</ion-card-header>
    <ion-card-content>
      <p>Avatar</p>
      <p>Username</p>
      <p>Location</p>
      <p>Link</p>
    </ion-card-content>
  </ion-card>

  <ion-card style="border-bottom: 8px solid var(--ion-color-primary);">
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi voluptatibus optio saepe doloribus cupiditate esse odit quaerat nulla fuga alias quo provident soluta veniam ducimus hic, quisquam explicabo eius. Quia?</p>
    </ion-card-content>
  </ion-card>

  <h2 style="margin-left: 1em; margin-top: 2em;">2 Posts</h2>

  <ion-card>
    <ion-card-content>
      <p>Posty post post</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Posty post post</p>
    </ion-card-content>
  </ion-card>

</ion-content>
