.profile-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.profile-avatar {
    background-size: cover;
    background-position: center;
}

.profile-info {
    padding: 1em;
}

.post-list {
    width: 100%;
    max-width: 666px;
    margin: auto;
}

.post-img {
    height: 33vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
