<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ user?.username }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="user && user.uid && auth.uid && user.uid === auth.uid; else notEditable" color="primary" routerLink="/edit-profile">
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
      <ng-template #notEditable>
        <ion-button color="primary" routerLink="/">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">

  <ion-card class="profile-card">
    <div class="profile-avatar" [ngStyle]="{ 'background-image': 'url(' + 'assets/salmon-bg-with-text.jpg' + ')' }"></div>
    <div class="profile-info">
      <h2>{{ user.username }}</h2>

      <ion-buttons color="primary" style="justify-content: space-around;">
        <ion-button (click)="socialClick(user.websiteUrl)">
          <ion-icon name="desktop-outline" slot="icon-only" size="small"></ion-icon>
        </ion-button>
        <ion-button (click)="socialClick(user.instagramUrl)">
          <ion-icon name="logo-instagram" slot="icon-only" size="small"></ion-icon>
        </ion-button>
        <ion-button (click)="socialClick(user.twitterUrl)">
          <ion-icon name="logo-twitter" slot="icon-only" size="small"></ion-icon>
        </ion-button>
        <ion-button (click)="socialClick(user.facebookUrl)">
          <ion-icon name="logo-facebook" slot="icon-only" size="small"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-card>

  <ion-card class="description-card" style="border-bottom: 8px solid var(--ion-color-primary);">
    <ion-card-content>
      <p *ngIf="user.bio">{{ user.bio }}</p>
      <p *ngIf="!user.bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi voluptatibus optio saepe doloribus cupiditate esse odit quaerat nulla fuga alias quo provident soluta veniam ducimus hic, quisquam explicabo eius. Quia?</p>
    </ion-card-content>
  </ion-card>

  <h2 style="margin-left: 1em; margin-top: 2em;">{{ user.postCount }} Posts</h2>

  <div class="post-list">
    <ion-card *ngFor="let post of user.recentPosts" [routerLink]="'/post/' + post.id">
      <div class="post-img" [ngStyle]="{ 'background-image': 'url(' + post.images[0].url + ')' }"></div>
      <ion-card-content>{{ post.title }}</ion-card-content>
    </ion-card>
  </div>

  <br>

</ion-content>
