<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ sort | titlecase }} Salmon</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" (click)="changeSort()">
        <ion-icon slot="icon-only" [name]="sort === 'recent' ? 'flash' : 'flame'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ sort | titlecase }} Salmon</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="post-list">
    <ion-card *ngFor="let post of posts$ | async" [routerLink]="'/post/' + post.id">
      <div class="post-img" [ngStyle]="{ 'background-image': 'url(' + post.images[0] + ')' }"></div>
      <ion-card-content>{{ post.title }}</ion-card-content>
    </ion-card>
  </div>

  <br>

</ion-content>
